Repository AstroAir/GitHound, changes with the labels that .github/labeler.yml gives for each.
All labels: core, search-engine, mcp-server, web-api, cli, git-operations, tests, integration-tests, performance-tests, documentation, build, ci-cd, dependencies, examples, scripts, python, config, priority-high, priority-medium, priority-low, enhancement, bug, refactor, performance, security, maintenance

更新 README 文档以改进工作流概述，删除不再使用的测试文件和快速模糊匹配模块，优化依赖管理配置，调整 CI/CD 和安全分析工作流，增强代码质量检查和自动化功能
  .github/README.md
  .github/dependabot.yml
  .github/pull_request_template.md
  .github/workflows/canary-deploy.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/metrics.yml
  README.md
  mock_rapidfuzz.py
  simple_test_runner.py
  test_setup_verification.py
Labels: core, tests, documentation, ci-cd, python, config, priority-high, security, maintenance

更新文档，优化代码示例和格式，增强可读性和一致性
  docs/TESTING.md
  docs/api-reference/rest-api.md
  docs/architecture/overview.md
  docs/development/type-checking.md
  docs/getting-started/configuration.md
  docs/getting-started/installation.md
  docs/index.md
  docs/javascripts/mathjax.js
  docs/mcp-server/overview.md
  docs/mcp_integration.md
  docs/stylesheets/extra.css
  docs/user-guide/cli-usage.md
Labels: core, documentation, priority-low

Add MCP tools for repository analysis, blame, export, management, search, and web integration
  REFACTORING_SUMMARY.md
  githound/mcp/__init__.py
  githound/mcp/auth.py
  githound/mcp/config.py
  githound/mcp/direct_wrappers.py
  githound/mcp/models.py
  githound/mcp/prompts.py
  githound/mcp/resources.py
  githound/mcp/server.py
  githound/mcp/tools/__init__.py
  githound/mcp/tools/analysis_tools.py
  githound/mcp/tools/blame_tools.py
  githound/mcp/tools/export_tools.py
  githound/mcp/tools/management_tools.py
  githound/mcp/tools/search_tools.py
  githound/mcp/tools/web_tools.py
  githound/mcp_server.py
  mock_rapidfuzz.py
  pyproject.toml
  tests/test_git_blame.py
  tests/test_mcp_authentication.py
  tests/test_mcp_fastmcp_patterns.py
  tests/test_mcp_integration.py
  tests/test_mcp_performance.py
  tests/test_mcp_server.py
Labels: core, mcp-server, tests, documentation, build, dependencies, python, config, priority-high, priority-medium, enhancement, maintenance

Add comprehensive tests for authentication and authorization providers
  REFACTORING_SUMMARY.md
  docs/auth/README.md
  docs/auth/TYPE_FIXES.md
  examples/auth/authentication_demo.py
  examples/auth/configuration_examples.py
  examples/authorization/eunomia_example.py
  examples/authorization/permit_example.py
  githound/mcp/auth.py
  githound/mcp/auth/__init__.py
  githound/mcp/auth/factory.py
  githound/mcp/auth/providers/__init__.py
  githound/mcp/auth/providers/base.py
  githound/mcp/auth/providers/eunomia.py
  githound/mcp/auth/providers/github.py
  githound/mcp/auth/providers/google.py
  githound/mcp/auth/providers/jwt.py
  githound/mcp/auth/providers/oauth_provider.py
  githound/mcp/auth/providers/oauth_proxy.py
  githound/mcp/auth/providers/permit.py
  githound/mcp/config.py
  githound/mcp/server.py
  githound/mcp/tools/blame_tools.py
  tests/auth/__init__.py
  tests/auth/providers/__init__.py
  tests/auth/providers/test_jwt_provider.py
  tests/auth/providers/test_oauth_providers.py
  tests/auth/test_auth_core.py
  tests/auth/test_auth_providers.py
  tests/auth/test_factory.py
  tests/auth/test_integration.py
  tests/test_authorization_providers.py
Labels: core, tests, documentation, examples, python, priority-medium, priority-low, enhancement

Refactor code for improved readability and consistency
  githound/mcp/__init__.py
  githound/mcp/auth.py
  githound/mcp/auth/factory.py
  githound/mcp/auth/providers/base.py
  githound/mcp/auth/providers/eunomia.py
  githound/mcp/auth/providers/github.py
  githound/mcp/auth/providers/google.py
  githound/mcp/auth/providers/jwt.py
  githound/mcp/auth/providers/oauth_provider.py
  githound/mcp/auth/providers/oauth_proxy.py
  githound/mcp/auth/providers/permit.py
  githound/mcp/models.py
  githound/mcp/server.py
  githound/mcp/tools/__init__.py
Labels: core, python, enhancement

feat(api): add legacy and enhanced FastAPI endpoints for GitHound; update env config for Docker build.
  .env.example
  githound/web/api.py
  githound/web/enhanced_api.py
  githound/web/models/__init__.py
  githound/web/models/api_models.py
  githound/web/websocket.py
  pyproject.toml
Labels: core, web-api, build, dependencies, python, config, priority-medium, enhancement, maintenance

feat: add v2 API endpoints for health, info, repository and commit analysis, file history, and export functionality.
  githound/web/api.py
  githound/web/enhanced_api.py
Labels: core, web-api, python, priority-medium, enhancement

feat: unify API endpoints in one application structure, removing legacy version
  githound/web/api.py
  githound/web/enhanced_api.py
  tests/test_enhanced_api.py
Labels: core, web-api, tests, python, priority-medium, enhancement

fix: add return type hints for functions in export and API modules
  githound/utils/export.py
  githound/web/api.py
  githound/web/main.py
  githound/web/middleware/rate_limiting.py
Labels: core, web-api, python, priority-medium, enhancement

fix: correct typing imports in common.py and add unit test for module import
  scripts/script_utils/common.py
  tests/unit/test_script_utils_common_typing.py
Labels: core, tests, scripts, python, priority-medium, priority-low

fix: correct typing mistake and syntax error in run_mcp_tests.py
  scripts/run_mcp_tests.py
  tests/test_mcp_performance.py
  tests/unit/test_run_mcp_tests_typo.py
Labels: core, tests, scripts, python, priority-medium, priority-low

feat: Add mypy type-checking and performance optimization report
  docs/mypy_and_performance_report.md
  githound/__init__.py
  githound/cli.py
  githound/search_engine/branch_searcher.py
  githound/search_engine/commit_searcher.py
  githound/search_engine/diff_searcher.py
  githound/search_engine/file_searcher.py
  githound/search_engine/fuzzy_searcher.py
  githound/search_engine/searcher.py
  githound/search_engine/statistical_searcher.py
  githound/search_engine/tag_searcher.py
Labels: core, search-engine, cli, documentation, python, priority-high, priority-medium, priority-low, enhancement

feat: enhance _print_blame_text to support new blame_info structure and add tests for CLI blame output
  githound/cli.py
  tests/test_cli_blame_output.py
Labels: core, cli, tests, python, priority-medium, enhancement

.github/labeler.yml:

# Labeler configuration for automatic PR labeling
# https://github.com/actions/labeler

# Core components
"core":
  - "githound/**/*.py"
  - "!githound/web/**"
  - "!githound/search_engine/**"
  - "!githound/mcp_server.py"

"search-engine":
  - "githound/search_engine/**"
  - "githound/searcher.py"

"mcp-server":
  - "githound/mcp_server.py"
  - "examples/mcp/**"

"web-api":
  - "githound/web/**"

"cli":
  - "githound/cli.py"

"git-operations":
  - "githound/git_*.py"

# Testing
"tests":
  - "tests/**"
  - "**/*test*.py"

"integration-tests":
  - "tests/integration/**"

"performance-tests":
  - "tests/performance/**"

# Documentation
"documentation":
  - "docs/**"
  - "README.md"
  - "*.md"
  - "mkdocs.yml"

# Configuration and build
"build":
  - "pyproject.toml"
  - "requirements.txt"
  - "uv.lock"
  - "Makefile"
  - "build.*"
  - "setup.py"
  - "setup.cfg"

"ci-cd":
  - ".github/workflows/**"
  - ".github/dependabot.yml"
  - ".github/CODEOWNERS"

"dependencies":
  - "pyproject.toml"
  - "requirements.txt"
  - "uv.lock"

# Examples and scripts
"examples":
  - "examples/**"

"scripts":
  - "scripts/**"

# Language-specific
"python":
  - "**/*.py"

# File types
"config":
  - "**/*.yml"
  - "**/*.yaml"
  - "**/*.toml"
  - "**/*.json"
  - "**/*.ini"
  - "**/*.cfg"

# Priority labels based on file patterns
"priority-high":
  - "githound/search_engine/**"
  - "githound/mcp_server.py"
  - ".github/workflows/ci.yml"

"priority-medium":
  - "githound/web/**"
  - "githound/cli.py"
  - "tests/**"

"priority-low":
  - "docs/**"
  - "examples/**"
  - "scripts/**"

# Type of changes
"enhancement":
  - "githound/**/*.py"

"bug":
  - any: ["**/fix/**", "**/bug/**", "**/hotfix/**"]

"refactor":
  - any: ["**/refactor/**", "**/cleanup/**"]

"performance":
  - "tests/performance/**"
  - any: ["**/perf/**", "**/performance/**", "**/optimize/**"]

"security":
  - ".github/workflows/**"
  - ".github/dependabot.yml"
  - any: ["**/security/**", "**/auth/**"]

# Maintenance
"maintenance":
  - ".github/**"
  - "pyproject.toml"
  - "requirements.txt"
  - "uv.lock"
